<app-search-bar (emitSearch)="getSearch($event)"></app-search-bar>
<app-my-pokemon [myPokes]="myPokemons"></app-my-pokemon>
<div class="pokemon-grid" *ngIf="!isSearching">
  <div
    class="box"
    *ngFor="
      let pokemon of pokemons
        | paginate
          : { itemsPerPage: 8, currentPage: page, totalItems: totalPages }
    "
  >
    <img [src]="pokemon.sprites.front_default" [alt]="pokemon.name" />
    <h3>#{{ pokemon.id }} {{ pokemon.name | titlecase }}</h3>
    <p *ngFor="let type of pokemon.types">
      {{ type.type.name | titlecase }}
    </p>
    <button (click)="savePoke(pokemon)">SAVE</button>
    <button (click)="onDetail(pokemon)">Detail</button>
  </div>
</div>
<div class="pokemon-grid" *ngIf="isSearching">
  <div
    class="box"
    *ngFor="let searchPoke of searchPokes"
    (click)="onDetail(searchPoke)"
  >
    <img [src]="searchPoke.sprites.front_default" [alt]="searchPoke.name" />
    <h3># {{ searchPoke.id }} {{ searchPoke.name | titlecase }}</h3>
    <p *ngFor="let type of searchPoke.types">
      {{ type.type.name | titlecase }}
    </p>
  </div>
</div>

<pagination-controls
  *ngIf="!isSearching"
  (pageChange)="page = $event; pokemons = []; getPokemons()"
></pagination-controls>
