header {
  padding: 50px 0px 30px 0px;
  text-align: center;
}
header h1 {
  text-transform: uppercase;
  color: white;
  left: 3px;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}
a {
  color: white;
}
